<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table title="User Data" border="1px solid black">
      <tr>
        <th>User ID</th>
        <th>First Name</th>
      </tr>
      <% users.forEach(function(user) {%>
      <tr>
        <td><%=user.userid%></td>
        <td><%=user.firstname%></td>
      </tr>
      <% }) %> 
    </table>
    </ul>
  </body>
</html>
