<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>body{
             display: flex;
             flex-direction:column;
             margin:2px;
             }
             .menu
             {
                display: flex;
               justify-content: space-around;
               background-color: blueviolet;
             }
             .menu a{
                 font-size: 15px;
                 font-weight: bolder;
                 color:white;
             }
    </style>
</head>
<body>
    <h1>USER AUTHENTICATION SYSTEM</h1>
       <div class="menu">

           <a href="signuppage">SIGN UP</a>
           <a href="signinpage">SIGN IN</a>
           <a href="all-users">SEE ALL CLIENTS</a>
       </div>
</body>
</html>