<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>body{
             display: flex;
             flex-direction:column;
             margin:2px;
             }
             .menu
             {
                display: flex;
               justify-content: space-around;
               background-color: blueviolet;
             }
             .menu a{
                 font-size: 15px;
                 font-weight: bolder;
                 color:white;
             }
    </style>
</head>
<body>
    <h3>Welcome, <%=name%>!</h3>
    You've successfully Signed up to our official page.<br><br>
    Your user id is : <%=id%>
       <div class="menu">

           <a href="/update">UPDATE DETAILS</a>
           <a href="/delete">DELETE USER</a>
           <a href="/view">VIEW ALL DETAILS</a>
       </div>
</body>
</html>