<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <form action="/signin" method="post">
        <h3>ADD DETAILS OF USER TO SIGNIN</h3>

        <hr />
        <label for="emailid"><b>Email Id</b></label>
        <input
          type="text"
          placeholder="Enter Email Id"
          name="emailid"
          id="emailid"
          required
        />

        <label for="password"><b>Password</b></label>
        <input
          type="text"
          placeholder="Enter Password"
          name="password"
          id="password"
          required
        />

        <button type="submit" class="registerbtn">SUBMIT</button>

        <a href="./" style="color: black">BACK TO HOME PAGE</a> <br />
      </form>
    </div>
  </body>
</html>
